body {
    background: #e6e4e1;
}

header {
    background-color: #1d4656;
    color: white;
    text-align: center;
    padding: 18px 0;
}

main {
    min-height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: white;
    width: 360px;
    padding: 30px;
    border-radius: 12px;
    border-top: 8px solid #1d4656;
}

form::before {
    content: "Criar conta";
    display: block;
    text-align: center;
    font-size: 22px;
    color: #1d4656;
    margin-bottom: 20px;
}
