* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e6e4e1, #e6e4e1);
}


.cabecalho {
    position: fixed;        
    top: 0;                 
    left: 0;
    width: 100%;            
    height: 80px;
    background-color: #1d4656;
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
    z-index: 1000;          
}

.cabecalho img {
    align-self: center;
    height: 55px;
    border-radius: 50%; 
}

.cabecalho h1 {
    font-size: 26px;
}

main {
    margin-top: 100px; 
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.acao {
    background-color: #ffffff;
    width: 360px;
    padding: 30px 25px;
    border-radius: 12px;
    border-top: 8px solid #1d4656;
}

.acao h2 {
    text-align: center;
    color: #1d4656;
    margin-bottom: 10px;
}

.acao::before {
    content: "Seu bem-estar começa aqui!";
    display: block;
    text-align: center;
    font-size: 13px;
    color: #777;
    margin-bottom: 20px;
}

.acao form {
    display: flex;
    flex-direction: column;
}

.acao label {
    font-size: 13px;
    color: #333;
    margin-bottom: 4px;
}

.acao input {
    padding: 10px;
    margin-bottom: 18px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: #f9f9f9;
}

.acao input:focus {
    outline: none;
    border-bottom-color: #1d4656;
}

.acao button {
    padding: 12px;
    background-color: #1d4656;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
}

.acao button:hover {
    background-color: #31748f;
}

.opc-link {
    text-align: center;
    margin-top: 10px;
    color: #1d4656;
    text-decoration: none;
    font-size: 14px;
}

.opc-link:hover {
    text-decoration: underline;
    color: #31748f;
}


footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #1d4656;
    font-size: 13px;
}